.nav_hor {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav_hor li {
    float: right;
    display: block;
    color: #fff877;
    padding: 14px 16px;
}

.nav_hor li.head {
    float: left;
}

.nav_hor .logo {
    color: antiquewhite;
}

.nav_hor li.txt {
    text-align: center;
}

.nav_hor li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.nav_hor li a:hover {
    color: cornflowerblue;
}

.column {
    float: left;
    width: 50%;
    padding: 15px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* 创建并排的三个不相等的列 */
.column {
  float: left;
  padding: 10px;
}

/* 左右列 */
.column.side {
  width: 15%;
}

/* 中间列 */
.column.body {
  width: 85%;
}

/* 清除列之后的浮动 */
.row:after {
  content: "";
  display: table;
  clear: both;
}