/* CSS Document */
body{
	background-image:url(../image/bg2.jpg);
	background-size:100%;
	color:white;
}
a{
	color:antiquewhite;
}

.btn{
	background-color: pink;
}

.btn a{
	color: black;
	text-decoration: none;
}