{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>浏览卡牌</title>
    <link href="{% static 'CSS/cards.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'CSS/manage.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
<ul class="nav_hor">
    <li class="head"><a class="logo" href="{% url 'Hs:index' %}"><b>炉石传说卡牌库数据系统</b></a></li>
    <li class="head"><b>浏览所有卡牌</b></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}?next={{ request.path }}">注销</a></li>
        <li class="txt">欢迎，{{ user.username }}</li>
    {% else %}
        <li><a href="{% url 'login' %}?next={{ request.path }}">登录</a></li>
        <li><a href="{% url 'Hs:register' %}">注册</a></li>
    {% endif %}
</ul>
<div class="nav">
		<span class="dropdown">
			<a href="#">{{ class }}</a>
			<span class="dropdown-content">
                {% for sc in sc_list %}
                    <p><a href="?sc_sel={{ sc.name }}&cost_sl={{ cost_sel }}">{{ sc.name }}</a></p>
                {% endfor %}
                <p><a href="?sc_sel=&cost_sl={{ cost_sel }}">所有职业</a></p>
		    </span>
		</span>
    <span>
			<a class="crys" href="?sc_sel={{ sc_sel }}&cost_sl=0">0</a>
			<a class="crys" href="?sc_sel={{ sc_sel }}&cost_sl=1">1</a>
			<a class="crys" href="?sc_sel={{ sc_sel }}&cost_sl=2">2</a>
			<a class="crys" href="?sc_sel={{ sc_sel }}&cost_sl=3">3</a>
			<a class="crys" href="?sc_sel={{ sc_sel }}&cost_sl=4">4</a>
			<a class="crys" href="?sc_sel={{ sc_sel }}&cost_sl=5">5</a>
			<a class="crys" href="?sc_sel={{ sc_sel }}&cost_sl=6">6</a>
			<a class="crys" href="?sc_sel={{ sc_sel }}&cost_sl=7">7</a>
			<a class="crys" href="?sc_sel={{ sc_sel }}&cost_sl=8">8</a>
			<a class="crys" href="?sc_sel={{ sc_sel }}&cost_sl=9">9</a>
			<a class="crys" href="?sc_sel={{ sc_sel }}&cost_sl=10">10+</a>
            <a class="crys" href="?sc_sel={{ sc_sel }}&cost_sl=-1">all</a>
		</span>
</div>
<div class="nav">
    <form action="{% url 'Hs:search_cards' %}?sc_sel={{ sc_sel }}&cost_sel={{ cost_sel }}" enctype="multipart/form-data"
          method="post">
        {% csrf_token %}
        <input type="text" name="search_word">
        <input type="submit" value="搜索">
    </form>
</div>
<div class="ShowCards">
    {% for cd in cd_list %}
        <div class="pic">
            <img width="187" height="259" src="../../media/{{ cd.img }}">
            <ul>
                <li class="title">{{ cd.name }}</li>
                <!-- 身材三项 -->
                <li class="build"><b>法力消耗: </b>{{ cd.cost }}</li>
                <li class="build"><b>攻击力: </b>{{ cd.attack }}</li>
                <li class="build"><b>生命值: </b>{{ cd.health }}</li>
                <!-- 卡牌描述 -->
                <li class="desc"><b>描述: </b>{{ cd.description }}</li>
                <li class="desc"><b>背景故事: </b>{{ cd.background }}</li>
                <!-- 种族 -->
                <li class="race"><b>种族: </b>{{ cd.race }}</li>
            </ul>
        </div>
    {% empty %}
        no cards match
    {% endfor %}
</div>

</body>
</html>