{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>浏览卡牌</title>
    <link href="{% static 'CSS/cards.css' %}" type="text/css" rel="stylesheet">
</head>

<body>
	<div class="nav">
		<span class="dropdown">
			<a href="#">{{ class }}</a>
			<span class="dropdown-content">
                {% for sc in sc_list %}
                    <p><a href="?sc_sel={{ sc.name }}&cost_sl={{ cost_sel }}">{{ sc.name }}</a></p>
                {% endfor %}
		</span>
		</span>
		<span>
			<a class="crys" href="?sc_sel={{ sc_sel }}&cost_sl=0">0</a>
			<a class="crys" href="?sc_sel={{ sc_sel }}&cost_sl=1">1</a>
			<a class="crys" href="?sc_sel={{ sc_sel }}&cost_sl=2">2</a>
			<a class="crys" href="?sc_sel={{ sc_sel }}&cost_sl=3">3</a>
			<a class="crys" href="?sc_sel={{ sc_sel }}&cost_sl=4">4</a>
			<a class="crys" href="?sc_sel={{ sc_sel }}&cost_sl=5">5</a>
			<a class="crys" href="?sc_sel={{ sc_sel }}&cost_sl=6">6</a>
			<a class="crys" href="?sc_sel={{ sc_sel }}&cost_sl=7">7</a>
			<a class="crys" href="?sc_sel={{ sc_sel }}&cost_sl=8">8</a>
			<a class="crys" href="?sc_sel={{ sc_sel }}&cost_sl=9">9</a>
			<a class="crys" href="?sc_sel={{ sc_sel }}&cost_sl=10">10+</a>
		</span>
	</div>
	<div class="ShowCards">
        {% for cd in cd_list %}
            <table class="CardTable">
            <tr>
                <th>name</th><td>{{ cd.name }}</td>
            </tr>
            <tr>
                <th>cost</th><td>{{ cd.cost }}</td>
            </tr>
            <tr>
                <th>class</th><td>{{ cd.card_class.name }}</td>
            </tr>
            </table>
        {% empty %}
            no cards match
        {% endfor %}
	</div>
</body>
</html>
