{% load static %}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>炉石传说卡牌库数据系统</title>
	<link href="{% static 'CSS/Welcome.css' %}" type="text/css" rel="stylesheet">
</head>

<body>
<div class="flex-center">
    <div class="container">
        <div class="flex-center">
            <div class="unit-1-2 unit-1-on-mobile">
                <h1>炉石传说卡牌库数据系统</h1>
                <form class="form" action="{% url 'Hs:register' %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                        {% if field.help_text %}
                            <p class="help text-small text-muted">{{ field.help_text|safe }}</p>
                        {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary btn-block">注册</button>
                </form>
                <div class="flex-center top-gap text-small">
                    <a href="login.html">已有账号登录</a>
                </div>
            <ul>
                <li><a href="cards" target="_blank">浏览卡牌</a></li>
                <li><a href="#">我的账户</a></li>
            </ul>
            <p id="gitLink">
                <a href="https://github.com/Swehominmind"><img src="{% static 'image/kevin.png' %}" width="100" height="100" alt="Github-kevin"/></a>
                <a href="https://github.com/darkway-s"><img src="{% static 'image/kass.jpg' %}" width="100" height="100" alt="Github-kass"/></a>
            </p>

            <p>
                张驰一19307130043 张开元19307130227
            </p>
            </div>
        </div>
    </div>
</div>

</body>
</html>