{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>管理界面</title>
    <link href="{% static 'CSS/summonerclass_list.css' %}" type="text/css" rel="stylesheet">
</head>
    <ul class="nav">
        <li class="head"><a class ="logo" href="{% url 'Hs:index' %}"><b>炉石传说卡牌库数据系统</b></a></li>
        <li class="head"><b>管理界面</b></li>
        <li class="head"><a href="{% url 'Hs:summonerclass_add' %}" target="_blank">添加职业</a></li>
        <li><a href="news.asp">修改密码</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}?next={{ request.path }}">注销</a></li>
            <li class="txt">欢迎，{{ user.username }}</li>
        {% else %}
            <li><a href="{% url 'login' %}?next={{ request.path }}">登录</a></li>
            <li><a href="{% url 'Hs:register' %}">注册</a></li>
        {% endif %}
    </ul>
    <iframe src="cards"></iframe>
    <table>
        <thead>
        <tr>
            <th>职业名称</th>
        </tr>
        </thead>
        <tbody>
        {% for summonerclass in summonerclass_list %}
            <tr>
                <td>{{ summonerclass.name }}</td>
                <td class="text-center">

                    <a class="btn btn-info btn-sm" href="/summonerclass_edit/?id={{ summonerclass.id }}"><i
                            class="fa fa-pencil fa-fw"
                            aria-hidden="true"></i>编辑
                    </a>
                    <a class="btn btn-danger btn-sm" href="/summonerclass_drop/?id={{ summonerclass.id }}"><i
                            class="fa fa-trash-o fa-fw"
                            aria-hidden="true"></i>删除
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</body>
</html>
