{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>管理界面</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'CSS/manage.css' %}" type="text/css" rel="stylesheet">


</head>
<body>
<ul class="nav_hor">
    <li class="head"><a class="logo" href="{% url 'Hs:index' %}"><b>炉石传说卡牌库数据系统</b></a></li>
    <li class="head"><b>管理界面</b></li>
    <li class="head"><a href="{% url 'Hs:summonerclass_add' %}" target="_blank">添加职业</a></li>
    <li><a href="news.asp">修改密码</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}?next={{ request.path }}">注销</a></li>
        <li class="txt">欢迎，{{ user.username }}</li>
    {% else %}
        <li><a href="{% url 'login' %}?next={{ request.path }}">登录</a></li>
        <li><a href="{% url 'Hs:register' %}">注册</a></li>
    {% endif %}
</ul>

<div class="row">
    <div class="column side">
        <ul class="nav_vert">
            <li><a class="main active" href="{% url 'Hs:manage' %}">卡牌</a><a class="add" href="{% url 'Hs:card_create' %}"> 新建</a></li>
            <li><a class="main" href="{% url 'Hs:summonerclass_list' %}">职业</a><a class="add" href="{% url 'Hs:summonerclass_add' %}"> 新建</a></li>
            <li><a class="main" href="{% url 'Hs:raceclass_list' %}">种族</a><a class="add" href="{% url 'Hs:raceclass_add' %}"> 新建</a></li>
            <li><a class="main" href="{% url 'Hs:setclass_list' %}">套牌</a><a class="add" href="{% url 'Hs:setclass_add' %}"> 新建</a></li>
            <li><a class="main" href="{% url 'Hs:setclass_list' %}">合集列表</a><a class="add" href="{% url 'Hs:setclass_add' %}"> 新建</a></li>
            <li><a class="main" href="{% url 'Hs:user_list' %}">用户列表</a><a class="add" href="{% url 'Hs:user_add' %}"> 新建</a></li>
        </ul>
    </div>

    <div class="column body">
        {% for cd in cd_list %}
            <a href="unsamples/1.jpg" class="tn"><img width="187" height="259" src="../../media/{{ cd.img }}"></a>
            <ul>
                <li class="title">{{ cd.name }}</li>
                <!-- 身材三项 -->
                <li class="build"><b>法力消耗: </b>{{ cd.cost }}</li>
                <li class="build"><b>攻击力: </b>{{ cd.attack }}</li>
                <li class="build"><b>生命值: </b>{{ cd.health }}</li>
                <!-- 卡牌描述 -->
                <li class="desc"><b>描述: {{ cd.description }}</b></li>
                <li class="desc"><b>背景故事: {{ cd.background }}</b></li>
                <!-- 种族 -->
                <li class="race"><b>种族: </b>{{ cd.race }}</li>
            </ul>
        {% empty %}
            no cards yet
        {% endfor %}
    </div>
</div>

</body>
</html>
