{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'CSS/mycollection.css' %}" type="text/css" rel="stylesheet">
    <title>我的收藏</title>
</head>
<body>
<ul class="nav_hor">
    <li class="head"><a class="logo" href="{% url 'Hs:index' %}"><b>炉石传说卡牌库数据系统</b></a></li>
    <li class="head"><b>我的收藏</b></li>
    <li><a href="news.asp">修改密码</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}?next={{ request.path }}">注销</a></li>
        <li class="txt">欢迎，{{ user.username }}</li>
    {% else %}
        <li><a href="{% url 'login' %}?next={{ request.path }}">登录</a></li>
        <li><a href="{% url 'Hs:register' %}">注册</a></li>
    {% endif %}
</ul>
{% if user.is_authenticated %}
    <div class="row">
        <div class="column side">
            <ul class="nav_vert">
                <li><a class="main active" href="{% url 'Hs:manage' %}">所有卡牌</a><a class="add"
                                                                                   href="{% url 'Hs:card_create' %}">新建</a>
                </li>
                <li><a class="main" href="{% url 'Hs:summonerclass_list' %}">职业</a><a class="add"
                                                                                      href="{% url 'Hs:summonerclass_add' %}">新建</a>
                </li>
            </ul>
        </div>
        <div class="column body">
            {% for cd in cd_list %}
                <a href="unsamples/1.jpg" class="tn"><img width="187" height="259" src="../../media/{{ cd.img }}"></a>
                <ul>
                    <li class="title">{{ cd.name }}</li>
                    <!-- 身材三项 -->
                    <li class="build"><b>法力消耗: </b>{{ cd.cost }}</li>
                    <li class="build"><b>攻击力: </b>{{ cd.attack }}</li>
                    <li class="build"><b>生命值: </b>{{ cd.health }}</li>
                    <!-- 卡牌描述 -->
                    <li class="desc"><b>描述: {{ cd.description }}</b></li>
                    <li class="desc"><b>背景故事: {{ cd.background }}</b></li>
                    <!-- 种族 -->
                    <li class="race"><b>种族: </b>{{ cd.race }}</li>
                </ul>
            {% empty %}
                no cards yet
            {% endfor %}
        </div>
        <div class="column right">
            <ul class="nav_vert">
                <li><a class="main active" href="{% url 'Hs:manage' %}">所有卡牌</a><a class="add"
                                                                                   href="{% url 'Hs:card_create' %}">新建</a>
                </li>
                <li><a class="main" href="{% url 'Hs:summonerclass_list' %}">职业</a><a class="add"
                                                                                      href="{% url 'Hs:summonerclass_add' %}">新建</a>
                </li>
            </ul>
        </div>
    </div>
{% else %}
    <h2>您应该先登录以使用我的收藏功能</h2>
{% endif %}

</body>
</html>