{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'CSS/mycollection.css' %}" type="text/css" rel="stylesheet">
    <title>我的收藏</title>
</head>
<body>
<ul class="nav_hor">
    <li class="head"><a class="logo" href="{% url 'Hs:index' %}"><b>炉石传说卡牌库数据系统</b></a></li>
    <li class="head"><b>我的收藏</b></li>
    <li><a href="news.asp">修改密码</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}?next={{ request.path }}">注销</a></li>
        <li class="txt">欢迎，{{ user.username }}，奥术之尘：{{ user.arc_dust }}</li>
    {% else %}
        <li><a href="{% url 'login' %}?next={{ request.path }}">登录</a></li>
        <li><a href="{% url 'Hs:register' %}">注册</a></li>
    {% endif %}
</ul>
{% if user.is_authenticated %}
    <div class="row">
        <div class="column side">
            <ul class="nav_vert">
                <li>
                    <a class="main active" href="#">卡牌管理</a>
                </li>
                <li>
                    <a class="main " href="{% url 'Hs:mycollection' %}">我的卡牌</a>
                </li>
                <li>
                    <a class="main" href="{% url 'Hs:mycollection_comp' %}">卡牌制作</a>
                </li>
                <li>
                    <a class="main active" href="#">套牌管理</a>
                </li>
                {% for dk in dk_list %}
                    <li>
                        <a class="main" href="{% url 'Hs:mycollection_deck' %}?dk_id={{ dk.id }}">{{ dk.name }}</a>
                    </li>
                    <li>
                        <a class="add" href="{% url 'Hs:dk_del' %}?dk_id={{ dk.id }}&pos={{ pos }}">删除</a>
                    </li>
                {% empty %}
                {% endfor %}
                <li>
                    <a class="main" href="{% url 'Hs:dk_new' %}">新建套牌</a>
                </li>
            </ul>
        </div>
        <div class="column body">
            {{ message }}
            {% for tp in tp_list %}
                <div class="pic">
                    <img width="187" height="259" src="../../media/{{ tp.0.img }}">
                    <ul class="detail">
                        <li class="btn_left"><a class="btn"
                                                href="{% url 'Hs:cd_comp' %}?c_id={{ tp.0.id }}&pos={{ pos }}">制作</a>
                        </li>
                        <li class="btn_right"><a class="btn"
                                                 href="{% url 'Hs:cd_decomp' %}?c_id={{ tp.0.id }}&pos={{ pos }}">分解</a>
                        </li>
                        <li class="title">{{ tp.0.name }}</li>
                        <!-- 数量 -->
                        <li class="amount">{{ tp.1 }}张</li>
                        <!-- 身材三项 -->
                        <li class="build"><b>法力消耗: </b>{{ tp.0.cost }}</li>
                        <li class="build"><b>攻击力: </b>{{ tp.0.attack }}</li>
                        <li class="build"><b>生命值: </b>{{ tp.0.health }}</li>
                        <!-- 卡牌描述 -->
                        <li class="desc"><b>描述: {{ tp.0.description | safe }}</b></li>
                        <li class="desc"><b>背景故事: {{ tp.0.background }}</b></li>
                        <!-- 种族 -->
                        <li class="race"><b>种族: </b>{{ tp.0.race }}</li>
                        <li class="race"><b>职业: </b>
                            {% for cls in tp.0.card_class.all %}
                                {{ cls }},
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            {% empty %}
                no cards yet
            {% endfor %}
        </div>
        <div class="column right">

        </div>
    </div>
{% else %}
    <h2>您应该先登录以使用我的收藏功能</h2>
{% endif %}

</body>
</html>