{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>管理界面</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'CSS/manage.css' %}" type="text/css" rel="stylesheet">


</head>
<body>
<ul class="nav_hor">
    <li class="head"><a class="logo" href="{% url 'Hs:index' %}"><b>炉石传说卡牌库数据系统</b></a></li>
    <li class="head"><b>管理界面</b></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}?next={{ request.path }}">注销</a></li>
        <li><a href="{% url 'password_change' %}?next={{ request.path }}">修改密码</a></li>
        <li class="txt">欢迎，{{ user.username }}</li>
    {% else %}
        <li><a href="{% url 'login' %}?next={{ request.path }}">登录</a></li>
        <li><a href="{% url 'Hs:register' %}">注册</a></li>
    {% endif %}
</ul>
{% if user.is_staff %}
    <div class="row">
        <div class="column side">
            <ul class="nav_vert">
                <li><a class="main active" href="{% url 'Hs:manage' %}">卡牌</a><a class="add"
                                                                                 href="{% url 'Hs:card_create' %}">
                    新建</a>
                </li>
                <li><a class="main" href="{% url 'Hs:summonerclass_list' %}">职业</a><a class="add"
                                                                                      href="{% url 'Hs:summonerclass_add' %}">
                    新建</a></li>
                <li><a class="main" href="{% url 'Hs:raceclass_list' %}">种族</a><a class="add"
                                                                                  href="{% url 'Hs:raceclass_add' %}">
                    新建</a></li>
                <li><a class="main" href="{% url 'Hs:keyword_list' %}">关键词列表</a><a class="add"
                                                                                   href="{% url 'Hs:keyword_add' %}">
                    新建</a>
                </li>
                <li><a class="main" href="{% url 'Hs:setclass_list' %}">合集列表</a><a class="add"
                                                                                   href="{% url 'Hs:setclass_add' %}">
                    新建</a></li>
                <li><a class="main" href="{% url 'Hs:user_list' %}">用户列表</a><a class="add"
                                                                               href="{% url 'Hs:register' %}">
                    新建</a></li>
            </ul>
        </div>

        <div class="column body">
            <h2>
                <th>用户列表</th>
            </h2>
            <table>

                <tbody>
                {% for us in us_list %}
                    <tr>
                        <td>{{ us.username }} </td>
                        <td>奥术之尘：{{ us.arc_dust }}</td>
                        <td>
                        <td class="text-center">
                            <a class="btn btn-info btn-sm" href="{% url 'Hs:user_add' %}?id={{ us.id }}"><i
                                    class="fa fa-pencil fa-fw"
                                    aria-hidden="true"></i>增加奥术之尘
                            </a>
                        </td>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% else %}
    <h2>您应该先登录以使用我的收藏功能</h2>
{% endif %}

</body>
</html>
